@font-face {
    font-family: 'Bebas';
    src: url('../fonts/bebas-webfont.eot');
    src: url('../fonts/bebas-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas-webfont.woff') format('woff'),
         url('../fonts/bebas-webfont.ttf') format('truetype'),
         url('../fonts/bebas-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	font: 15px 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #000;
	background: #f2f2f2 url(../images/body-bg.gif) repeat 0 0;
}
h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	color: #000;
}
h2 {
	text-align: center;
	font-size: 40px;
	color: #000;
}
.clr:after {
	content: '';
	display: table;
	clear: both;
}
.wrapper {
	margin: 0 auto;
	width: 1001px;
	border: 1px solid #e1e1e1;
	background-color: #fff;
}
.pattern-bg {
	background: #0087e7 url(../images/form-bg.gif) repeat 0 0;
}
.head-top-row, .head-nav-row , .head-title-row, .form-block, .stat-block, .why-we-wrap-block, .work-sheme, .our-clients, .reviews, 
.contacts-info, .footer, .calc-block {
	padding: 0 27px;
}
.wrapper, .head-top-row, .head-title-row, .form-block, input, select,.calc-block, .calc-form, .modal {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*HEADER-----------------------------------------------------------------------------------*/
/*head-top-row-----------------------------------------------*/
.head-top-row {
	min-height: 64px;
	background-color: #fff;
}
.head-phone {
	float: right;
	margin: 15px 0 0 25px;
	width: 235px;
	text-align: right;
	font-size: 25px;
	font-weight: bold;
	color: #000;
}
.phone-icon {
	display: inline-block;
	width: 8px;
	height: 22px;
	vertical-align: -2px;
	background: url(../images/phone-icon.png) no-repeat 0 0;
}
.header-btn {
	float: right;
	margin-top: 10px;
	padding: 8px 0;
	min-width: 185px;
	font-size: 18px;
}
.blue-btn {
	display: block;
	position: relative;
	text-align: center;
	color: #fefefe;
	text-shadow: 0 -1px 0 rgba(0,0,0, .35);
	background-color: #1bda99;
	-webkit-box-shadow: 3px 3px 0 #002e4f;
	-moz-box-shadow: 3px 3px 0 #002e4f;
	box-shadow: 3px 3px 0 #002e4f;
}
.blue-btn:hover {
	background-color: #13e1a6;
}
.blue-btn:active {
	top: 2px;
	left: 2px;
	background-color: #13e1a6;
	-webkit-box-shadow: 1px 1px 0 #002e4f;
	-moz-box-shadow: 1px 1px 0 #002e4f;
	box-shadow: 1px 1px 0 #002e4f;
}
/*head-nav-row----------------------------------------------*/
.head-nav-row {
	min-height: 106px;
	position: relative;
	background-color: #f1f1f1;
}
.logo {
	position: absolute;
	bottom: 0;
}
.logo img {
	display: block;
}
ul.nav {
	padding-top: 27px;
	float: right;
	font-size: 0;
	line-height: 0;
}
ul.nav li {
	display: inline-block;
	padding: 22px 17px 24px;
	text-align: center;
	border-left: 1px solid #dadada;
	border-bottom: 5px solid #dadada;
	background-color: #fff;
}
ul.nav li:first-child {
	border-left: none;
}
ul.nav li a {
	display: block;
	text-transform: uppercase;
	font-size: 15px;
	color: #000;
}
ul.nav li a:hover {
	color: #1bda99;
}
/*head-title-row----------------------------------------------*/
.head-title-row {
	padding: 31px 0 27px 0;
	min-height: 172px;
	background-color: #fff;
}
.main-post-title {
	margin: 6px auto 0;
	width: 665px;
	text-align: center;
	font-size: 20px;
	line-height: 1.1;
	color: #010101;
}
/*GALLERLY-BLOCK-------------------------------------------------------------------------------*/
ul#gallery {
	font-size: 0;
	line-height: 0;
	text-align: justify;
}
ul#gallery:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
ul#gallery li {
	display: inline-block;
	position: relative;
	margin-bottom: 1px;
	width: 249px;
}
ul#gallery  mg {
	display: block;
}
.gal-title {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 20px;
	line-height: 50px;
	color: #fff;
	background-color: #2c3331;
}
/*FORM-BLOCK-------------------------------------------------------------------------------------*/
.form-block {
	margin-top: 62px;
	padding-top: 48px;
	padding-bottom: 15px;
	min-height: 165px;
	font-size: 0;
	line-height: 0;
}
h3.form-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 19px;
	color: #fff;
}
.order-form {
	margin-top: 30px;
}
.form-block p {
	float: left;
}
input.name, input.phone, input.email, .db-btn {
	width: 221px;
	height: 39px;
}
input.name, input.phone, input.email {
	padding-left: 13px;
	font-size: 15px;
	color: #000;
	border: 1px solid #47d698;
	margin-right: 18px;
}
input.name::-webkit-input-placeholder, input.phone::-webkit-input-placeholder, input.email::-webkit-input-placeholder {
	font-size: 15px;
	color: #000;
}
input.name::-moz-placeholder, input.phone::-moz-placeholder, input.email::-moz-placeholder {
	font-size: 15px;
	color: #000;
}	
.db-btn {
	font-size: 18px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0, .5);
	background-color: #006447;
	-webkit-box-shadow: 3px 3px 0 #041a29;
	-moz-box-shadow: 3px 3px 0 #041a29;
	box-shadow: 3px 3px 0 #041a29;
}
.db-btn:hover {
	background-color: #087f5d;
}
.db-btn:active {
	background-color: #087f5d;
	-webkit-box-shadow: 1px 1px 0 #041a29;
	-moz-box-shadow: 1px 1px 0 #041a29;
	box-shadow: 1px 1px 0 #041a29;
}
/*STAT-BLOCK--------------------------------------------------------------------------------------------*/
.stat-block {
	margin-top: 43px;
	padding-bottom: 40px;
}
.stat-block h3 {
	margin-left: 290px;
	position: relative;
	font-size: 30px;
	color: #093844;
}
.stat-block h3:before, .stat-block h3:after {
	content: '';
	display: block;
	width: 57px;
	height: 34px;
	position: absolute;
	top: 22px;
}
.stat-block h3:before {
	left: -69px;
	background: url(../images/brace-left.gif) no-repeat 0 0;
}
.stat-block h3:after {
	right: 0;
	background: url(../images/brace-right.gif) no-repeat 0 0;
}
ul.stat-list {
	padding-top: 50px;
	font-size: 0;
	line-height: 0;
	text-align: justify;
}
ul.stat-list:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}	
ul.stat-list li {
	display: inline-block;	
	vertical-align: top;
}
ul.stat-list li:last-child {
	width: 130px;
}
ul.stat-list li span {
	display: block;
	margin-top: -12px;
	float: left;
	font-size: 20px;
	line-height: 1.2;
	color: #093844;
}	
ul.stat-list li span.num-stat {
	margin: 0 10px 0 0;
	font: 45px Bebas, sans-serif;
	line-height: 0.5;
	color: #1bda99;	
}
/*WHY-WE-BLOCK---------------------------------------------------------------------*/
.why-we-block {
	padding-top: 48px;
	padding-bottom: 35px;
	border: 2px solid #2e3235;
	border-left: none;
	border-right: none;
}
ul.why-we-list {
	padding-top: 32px;
}
ul.why-we-list > li {
	margin-bottom: 25px;
}
ul.why-we-list li:last-child {
	margin-bottom: 0;
}
ul.why-we-inner {
	text-align: justify;
}
ul.why-we-inner:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}	
ul.why-we-inner li {
	display: inline-block;
	width: 140px;
	text-align: left;
	vertical-align: top;
	font: 16px Arial, Helvetica, sans-serif;
}
.why-we-img {
	margin-bottom: 9px;
}
/*WORK-SHEME--------------------------------------------------------------------------*/
.work-sheme {
	padding-top: 45px;
	padding-bottom: 25px;
}
ul.sheme-list {
	padding-top: 29px;
	background: url(../images/sheme-work/item-img.gif) no-repeat 50% 37px;
}
ul.sheme-list > li {
	float: left;
	width: 420px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.2;
	color: #000;
}
ul.sheme-list li.l-right {
	float: right;
}
ul.sheme-list-inner li {
	margin-bottom: 30px;
}
ul.sheme-list-inner li img {	
	display: inline-block;
	vertical-align: middle;
}
ul.sheme-list-inner li span {
	display: inline-block;
	width: 315px;
	margin-left: 3px;
	vertical-align: middle;
}
ul.left-list li {
	text-align: right;
}

ul.right-list {
	padding-top: 65px;
}
ul.right-list li span {
	width: 310px;
	margin: 0 9px 0 0;
}

/*REVIEWS----------------------------------------------------------------------------------------*/

ul.reviews-list {
	padding-top: 55px;
	font-size: 0;
	line-height: 0;
	color: #000;
}
ul.reviews-list li {
	margin-bottom: 60px;
}
ul.reviews-list li:last-child {
	margin-bottom: 0;
}
.rev-img, .rev-text {
	display: inline-block;

}
ul.reviews-list h3 {
	line-height: 1;
	text-transform: uppercase;	
	font-size: 19px;
}
.rev-img {
	width: 255px;
	border-right: 2px solid #1bda99;
}
.rev-img img {
	display: block;
}
.rev-text {
	margin-left: 23px;
	width: 655px;
	vertical-align: top;
	font-size: 16px;
	line-height: 1.4;
}
.rev-text .per-info {
	display: block;
	font-size: 15px;
	font-style: italic;
}
.rev-text p {
	margin-top: 5px;
}
/*CONTACTS-INFO------------------------------------------------------------------------------*/
.contacts-info {
	padding-top: 50px;
}
.contacts-column, .map-column {
	margin-top: 46px;
}
.contacts-column {
	float: right;
}
.map-column {
	float: left;
	width: 635px;
}
#map {
	width: 635px;
	height: 357px;
}
.contacts-column {
	width: 280px;
	min-height: 357px;
	border-bottom: 3px solid #1bda99;
}
.contacts-column span {
	display: block;
	margin-bottom: 15px;
	font-size: 19px;
	color: #000;
}
.contacts-column span.contacts-title {
	margin-bottom: 0;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: normal;
}
.bottom-btn {
	margin-top: 23px;
	padding: 8px 0;
	width: 221px;
	font-size: 18px;
}
.delivery-info {
	margin-top: 22px;
}
/*FOOTER----------------------------------------------------------------------------------------------------*/
.footer {
	clear: both;
	height: 90px;
	color: #000;
}
.copyright {
	float: left;
	margin-top: 35px;
	font-size: 15px;
}	
.developer {
	float: right;
	margin-top: 18px;
	font-size: 15px;
}
.developer a {
	display: inline-block;
	padding: 17px 33px 0 0;
	text-decoration: underline;
	color: #4c96cd;
	background: url(../images/ibrush-logo.png) no-repeat 100% 100%;
}
/*MODALS---------------------------------------------------------------------------------------------------*/
.modals .overlay{
	display: none;
	width: 100%;
	height: 100%;
	z-index: 9999;
	position: fixed;
	background: #000000;
	opacity: 0.5;
	top: 0;
	left: 0;
}
.modal { 
	display: none;
	margin-left: -121px;
	padding: 7px 27px 15px;
	width: 242px;
	position: fixed;
	left: 50%;
	top: 125px;
	border: 1px solid #dadada;
	border-bottom-width: 6px;
	background-color: #fff;
	z-index: 10000;
}
.modal-form input, .modal-btn {
	width: 188px;
	height: 40px;
}
.modal-form input {
	margin-bottom: 5px;
	padding-left: 43px;
	background: #f1f1f1 url(../images/form-bg-name.png) no-repeat 10px 13px;
	border: none;
}
.modal-form input.phone {
	background: #f1f1f1 url(../images/form-bg-phone.png) no-repeat 15px 10px;
}
.modal-btn {	
	font-size: 18px;
}
.modal .form-title {
	color: #000;
	margin-top: 0;
}

.close-btn {
	display: block;
	width: 13px;
	height: 13px;
	position: absolute;
	top: 8px;
	right: 10px;
	background: url(../images/close-btn.png) no-repeat 0 0;
}
.modal-form {
	margin-top: 23px;
}
.call-you {
	text-align: center;
}
.error{
	border: 1px solid red !important;
}