/* ===== PRIMARY STYLES =====================================================
   ========================================================================== */
/*========================= global ===========================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  font-family: 'DinPro';
  background-color: #EEF6FA;
}

/* =============== ВСПЛЫВАЮЩИЕ ОКНА ======================= ===================
============================================================ POP-UP============
/////////////////////////////////////////////////////////////////////////////*/
/*заказ звонка верхняя*/
.overlay-zvonokt {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 2;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay-zvonokt:target {
    visibility: visible;
    opacity: 1;
}
.popup-zvonokt {              
    left: 50%;
    opacity: 0;
    padding: 10px;
    position: fixed;    
    top: 40%;
    visibility: hidden;
    z-index: 10;
 
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;   
 
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.popup-form {
  background: url(../img/background/form.jpg);
  width: 2000px;
  height: 168px;
  margin: 15px 0 15px 0;
  padding-top: 17px;
  border: 4px solid #fff;
}
.wind-zakaz-top {
padding: 10px 15px 0 15px;
height: 130px;
width: 1000px;
margin: 0 auto;
border-radius: 5px;
background: rgba(255,255,255,0.5);
-webkit-box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
-moz-box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
}

.wind-zakaz-top p {
  text-align: center;
  font-size: 30px;  
}

.wind-zakaz-top input {
  padding-left: 30px;    
  border-top: 2px solid #c6c6c6;
  border-left: 2px solid #c6c6c6;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;    
  height: 35px;
  width: 201px;  
  font-size: 16px;
  margin-left: 3px;  
  vertical-align: top;
}

.wind-zakaz-top form{
  margin-top: 11px;
}

.wind-zakaz-top input[type="text"] {
  margin-top: 7px;
}

.wind-zakaz-top input:focus {
outline: 0;
}

.wind-zakaz-top input[type="text"]:nth-child(1){
  background: url(../img/background/input-name.png) no-repeat;  
  background-color: #fff;
  background-position: 3% center;  
  border: 1px solid #c6c6c6;
}

.wind-zakaz-top input[type="text"]:nth-child(2){
  background: url(../img/background/input-tel.png) no-repeat;
  background-color: #fff;
  background-position: 3% center;
  border: 1px solid #c6c6c6;
}

.wind-zakaz-top input[type="text"]:nth-child(4){
  background: url(../img/background/input-maill.png) no-repeat;  
  background-color: #fff;
  background-position: 3% center; 
  border: 1px solid #c6c6c6; 
}

.wind-zakaz-top input[type="button"]{
  cursor: pointer;  
  width: 220px;
  padding: 0;
  height: 50px;
  background: #00BFF2;  
  color: #fff;
  font-size: 20px;
  border: none;
  border-bottom: 3px solid #0099CF;
  font-family: 'DinPro';
  -webkit-box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
  outline: none;
}
.wind-zakaz-top input[type="button"]:focus{
  outline: none;
}
.wind-zakaz-top input[type="button"]:hover{
  background: #00D2F2;
}

.wind-zakaz-top input[type="button"]:active{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;  
  margin-top: 3px;
  height: 47px;  
  outline: none;
}

.overlay-zvonokt:target+.popup-zvonokt {    
    opacity: 1;
    visibility: visible;
}
.rel-pos {
  position: relative;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing: border-box;
}
/* Кнопка закрытия окна  */
.close {        
height: 24px;
line-height: 24px;
position: absolute;
right: 16px;
font-weight: bold;
text-align: center;
text-decoration: none;
top: 17px;
width: 24px;
border-radius: 15px;
z-index: 15;   
}
.close:before {
    color: #81A2C1;
    content: "X";
    font-size: 22px;
    font-family: arial;
}
/* =============================== END ===============================                      
//////////////////////////////////|||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\
=============================CONTENS ========== CONTENS ============= CONTENS */
.header {
  width: 100%;
  height: 521px;
  background: url(../img/background/header.jpg) top center;
}

.contain {
  width: 980px;
  margin: 0 auto;
  padding-top: 12px;
}

.header-cont {
  
}

.rectangle1 {
  width: 482px;
  height: 77px;
  background: url(../img/background/rectangle1.png) no-repeat;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  padding: 3px 0 0 10px;
  font-weight: bold;
  vertical-align: top;
  margin-left: 5px;
}

.call-him {
  float: right;
  text-align: right;
  line-height: 1.1;  
  height: 100px;
}

.call-him span{
  font-weight: bold;
}

.p-register1 {
  font-size: 12px;  
}

.number {
  font-size: 35px;
}

.link-to-modal {
  color: #fff;
  text-decoration: none;
  display: block;
  background: url(../img/background/rectangle2.png) no-repeat; 
  width: 258px;
  height: 28px; 
  float: right;
  font-size: 17px;
  padding: 4px 10px 0 0;
  margin-top: 5px;
}

.fform {
padding-top: 10px;
width: 275px;
height: 300px;
border-radius: 5px;
background: rgba(255,255,255,0.5);
-webkit-box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
-moz-box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
float: right;
}

.fform p:first-child{  
  font-size: 25px;
  font-weight: bold;
}

.fform p {
  text-align: center;
  font-size: 20px;  
}

.fform input {
  padding-left: 30px;  
  
  border-top: 2px solid #c6c6c6;
  border-left: 2px solid #c6c6c6;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;    
  height: 35px;
  width: 220px;
  margin: 0 0 10px 10px;
  font-size: 16px;
}

.fform input:focus {
outline: 0;
}

.fform input[type="text"]:nth-child(1){
  background: url(../img/background/input-name.png) no-repeat;  
  background-color: #fff;
  background-position: 3% center;
  margin-top: 20px; 
  border: 1px solid #c6c6c6;
}

.fform input[type="text"]:nth-child(2){
  background: url(../img/background/input-tel.png) no-repeat;
  background-color: #fff;
  background-position: 3% center;
  border: 1px solid #c6c6c6;
}

.fform input[type="text"]:nth-child(4){
  background: url(../img/background/input-maill.png) no-repeat;  
  background-color: #fff;
  background-position: 3% center; 
  border: 1px solid #c6c6c6; 
}

.fform input[type="button"]{
  cursor: pointer;  
  width: 252px;
  padding: 0;
  height: 50px;
  background: #00BFF2;  
  color: #fff;
  font-size: 20px;
  border: none;
  border-bottom: 3px solid #0099CF;
  font-family: 'DinPro';
  -webkit-box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
}

.wind-zakaz-top input[type="button"]:focus{
  outline: none;
}

.fform input[type="button"]:hover{
  background: #00D2F2;
}

.fform input[type="button"]:active{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  margin-top: 3px;
  height: 47px;  
}

.how-we-make {
  background: url(../img/background/blik.png) no-repeat top center,
              url(../img/background/products.png);
  height: 290px;
  width: 100%;
  border-bottom: 4px solid #DDDDDD;
}

.cont-we-make {
  background: url(../img/background/plity.png) no-repeat top 50% left;
  height: 290px;    
}

.text-we-make {
  width: 750px;
  float: right;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px #0087AA;
}

.text-we-make h1{
  font-size: 30px;
  font-weight: bold;
}

.size24 {
  font-size: 24px;
}

.size20 {
  font-size: 20px;
}

.text-we-make hr{
  width: 650px;
  background-color: #63C4E8;
  color: #63C4E8;
  border: none;
  border-top: 1px solid #47717A;
  height: 1px;
}

.inline {
  width: 217px;
  display: inline-block;
  vertical-align: top;
}

.pad-15 {
  padding-bottom: 15px;
}

.my-title {
  font-size: 35px;
  text-align: center;
  padding: 15px;
}

.my-title-tab {
  font-size: 35px;
  text-align: center;
}

.blue {
  color: #00BFF2;  
}

.certificates {  
  width: 980px;
  height: 197px;
  margin-top: 15px;
}

.form {
  background: url(../img/background/form.jpg);
  width: 100%;
  height: 168px;
  margin: 15px 0 15px 0;
  padding-top: 17px;
}
.copy-form {
  display: inline-block;
}

.fform-inline {
padding: 10px 15px 0 15px;
height: 130px;
width: 1000px;
margin: 0 auto;
border-radius: 5px;
background: rgba(255,255,255,0.5);
-webkit-box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
-moz-box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
}

.fform-inline p {
  text-align: center;
  font-size: 30px;  
}

.fform-inline input {
  padding-left: 30px;    
  border-top: 2px solid #c6c6c6;
  border-left: 2px solid #c6c6c6;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;    
  height: 35px;
  width: 201px;  
  font-size: 16px;
  margin-left: 3px;  
  vertical-align: top;
}

.fform-inline form{
  margin-top: 11px;
}

.fform-inline input[type="text"] {
  margin-top: 7px;
}

.fform-inline input:focus {
outline: 0;
}

.fform-inline input[type="text"]:nth-child(1){
  background: url(../img/background/input-name.png) no-repeat;  
  background-color: #fff;
  background-position: 3% center;  
  border: 1px solid #c6c6c6;
}

.fform-inline input[type="text"]:nth-child(2){
  background: url(../img/background/input-tel.png) no-repeat;
  background-color: #fff;
  background-position: 3% center;
  border: 1px solid #c6c6c6;
}

.fform-inline input[type="text"]:nth-child(4){
  background: url(../img/background/input-maill.png) no-repeat;  
  background-color: #fff;
  background-position: 3% center; 
  border: 1px solid #c6c6c6; 
}

.fform-inline input[type="button"]{
  cursor: pointer;  
  width: 220px;
  padding: 0;
  height: 50px;
  background: #00BFF2;  
  color: #fff;
  font-size: 20px;
  border: none;
  border-bottom: 3px solid #0099CF;
  font-family: 'DinPro';
  -webkit-box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
}

.fform-inline input[type="button"]:hover{
  background: #00D2F2;
}

.fform-inline input[type="button"]:active{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;  
  margin-top: 3px;
  height: 47px;  
}

.wind-zakaz-top input[type="button"]:focus{
  outline: none;
}

.priminenie {
  background: url(../img/background/priminenie.png) no-repeat top center;
  width: 980px;
  height: 430px;
}

.no {
  width: 465px;
  display: inline-block;
  vertical-align: top;
}

.yes {
  width: 465px;
  display: inline-block;
  vertical-align: top;
}

.title2 {
  text-align: left;
  font-size: 28px;
}

.yes-no li{
  font-size: 18px;
  padding-left: 8px;  
}

.yes-no span{
  font-weight: bold;   
}

.no li{
  background: url(../img/li-no.png) no-repeat top left;
  list-style: none;
  padding: 0 0 0 45px;
  margin-top: 25px;  
}

.yes li{
  background: url(../img/li-yes.png) no-repeat top left;
  list-style: none;
  padding: 0 0 0 45px;
  margin-top: 25px;  
}

.n-left {
  float: left;
  text-align: left;    
}

.n-right {
  float: right;
  text-align: right;    
}

.bold {
  font-weight: bold;
}

.preim {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px 0 10px;
  font-size: 18px;  
}

.paragraph {
  width: 840px;
}

td {
  width: 195px;
  text-align: center;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #C5C5C5;
  border-bottom: 1px solid #C5C5C5;
  padding: 5px 0 5px 0;
  font-size: 18px;
}

.table-row td:last-child{
  color: #F3564F;
  border-right: none;
}

.table-row td:nth-child(2) {
  color: #00C5F3;
}

.table-row td:nth-child(1) {
  text-align: left;
  border-left: none;
}

.table-top td{
  font-weight: bold;
  text-align: center;
  border-top: none;
}

table {
  cellspacing: 0;
}

.table-bottom td{
  border-bottom: none;
}

.black {
  color: #000;
}

.one-rewiv {
  width: 460px;
  margin: 15px 8px 10px 8px;
  display: inline-block;
  vertical-align: top;  
}

.text-reviw {  
  width: 460px;
  height: 245px;  
  background: #00BFF2;
  border-radius: 5px;
  padding: 25px;
  color: #fff;
  font-size: 18px;
  position: relative;
}
.text-reviw:after{
content: "«»";
width: 40px;
height: 40px;
position: absolute;
top: -20px;
left: 210px;
border-radius: 25px;
background-color: #464646;
padding: 5px 0 0 10px;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-box-sizing:border-bo
}
.commentator {
  text-align: left;
  padding-left: 8px;
  font-size: 19px;
}

.rewivs {
  padding-top: 15px;
}

.production{
  margin-top: 15px;
  margin: 0 auto;
  display: block;
}

.plan {
  display: inline-block;
  width: 185px;
  vertical-align: top;
  text-align: center;
  font-size: 25px;
}
.inline-footer {
  display: inline-block;
  width: 390px;
  height: 20px;
  vertical-align: middle;  
}

.inline-footer img{
  vertical-align: middle;
  padding-bottom: 7px;
}
.footer {
  padding-top: 8px;
  position: absolute;
  padding-bottom: 8px;
}


.walet-feedbackf {  
  width: 930px;  
  border-radius: 9px;
  position: relative;  
  text-align: center;
}
.walet-feedbackf img{
 margin-right: 15px;
 border-radius: 5px;
 border: 1px solid #fff;
}
.walet-feedbackf img:last-child{
  margin-right: 0;
}
/* window */
.walet-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 2;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.walet-overlay:target {
    visibility: visible;
    opacity: 1;
}
/* =========== ФОРМА ============= 
================================== */
.walet-popup {          
    left: 50%;
    opacity: 0;
    padding: 10px;
    position: fixed;    
    top: 40%;
    visibility: hidden;
    z-index: 10; 
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;   
 
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.walet-feedbackf {  
  width: 930px;  
  border-radius: 9px;
  position: relative;  
  text-align: center;
}
.walet-feedbackf img{
 margin-right: 15px;
 border-radius: 5px;
 border: 1px solid #fff; 
}
.walet-overlay:target+.walet-popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}
/* Кнопка закрытия окна  */
.walet-closef {      
  line-height: 24px;
  position: absolute;
  right: 48%;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-family: arial;
  top: -16px;
  width: 32px;
  height: 32px;
  margin-top: -1px;  
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
     border-radius: 15px;  
     background: url(../img/close.png);  
}
.walet-closef:before {
    color: #747474;
    content: "";    
    font-size: 18px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    line-height: 0.5;
    padding-top: -3px;
}
.walet-popup p, .popup div {
    margin-bottom: 10px;
}/*window*/

.certificates {
  text-align: center;
  height: 220px;
}
.certificates a{
  padding: 5px;
}