@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=cyrillic,latin);
body {
	font: 15px 'Open Sans', Arial, Helvetica, sans-serif;
}
.conteiner {
	margin: 0 auto;
	width: 1020px;
}
.clr:after {
	content: '';
	display: table;
	clear: both;
}
.bl-link {
	font-size: 18px;
	color: #0076a3;
	border-bottom: 1px dashed #0076a3;
}
h2 {
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	color: #4f5d73;
}
.pattern-bg {
	background: url(../images/line-bg.gif) 0 0;
	border: 1px solid #e5b4b4;
	border-left: none;
	border-right: none;
}
	
/*HEADER-------------------------------------------------------------------*/
.header {
	background-color: #fff;
}
.head-top-row {
	padding-bottom: 28px;
}
.logo {
	margin-top: 20px;
	overflow: hidden;
	float: left;
	width: 410px;
}
.logo img {
	float: left;
}
.logo span {
	float: left;
	margin: 30px 0 0 10px;
	display: block;
	color: #898989;
}
.b-request {	
	float: right;
	padding-top: 43px;
	width: 605px;
	text-align: right;
}
.head-phone, .call-request-btn, .enter {
	display: inline-block;
	text-align: left;
}
.head-phone {
	font-size: 24px;
	color: #111;
	vertical-align: -5px;
}
.call-request-btn {	
	margin: 0 15px 0 38px;
}
.enter {
	padding: 1px 0 7px 15px;
	min-width: 110px;
	border: 3px solid #bddce7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.icon-auth {
	display: inline-block;
	margin-left: 4px;
	vertical-align: -3px;
	width: 17px;
	height: 17px;
	background: url(../images/auth-img.png) no-repeat 0 0;
}
/*head-down-row------------------------------------------------------------------------*/
.head-down-row {
	padding-bottom: 25px;
}
.head-tile-col {
	float: left;
	width: 700px;
}
.head-form-col {
	float: right;
	width: 315px;
	padding-top: 68px;
	padding-left: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.title-block {
	margin: 37px 0 0 25px;
	line-height: 1.2;
}
h1 {
	font-size: 42px;
	font-weight: 700;
	color: #252525;
}
.post-title {
	margin-top: 17px;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.3;
	color: #111;
}
.form-title {
	font-size: 24px;
	color: #c75c5c;
}
.head-form {
	margin-top: 27px;
}
input {
	margin-bottom: 11px;
	padding-left: 10px;
	width: 296px;
	height: 44px;
	font-size: 18px;
	color: #000;
	border: 1px solid #c5c5c5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input::-webkit-input-placeholder {
	font-size: 18px;
	color: #7d7d7d;
}
input::-moz-placeholder {
	font-size: 18px;
	color: #7d7d7d;
}
.orange-btn {
	margin-top: 23px;
	padding: 5px 0;
	min-width: 296px;
	background-color: #ff9900;
	font-size: 24px;
	position: relative;
	color: #fff;
	-webkit-box-shadow: 0 2px 0 #b76e00;
	-moz-box-shadow: 0 2px 0 #b76e00;
	box-shadow: 0 2px 0 #b76e00;
}
.orange-btn:hover {
	background-color: #ffa800;
}
.orange-btn:active {
	top: 2px;
	background-color: #b76e00;
	box-shadow: none;
}
.privacy {
	margin-top: 15px;
	width: 235px;
	font-size: 12px;
	line-height: 1.2;
	color: #898989;
}
.privacy a {
	color: #086793;
	text-decoration: underline;
}
/*STAT-BLOCK-------------------------------------------------------------------*/
.stat-info {
	margin: -6px auto 0;
	padding: 5px 0 0 14px;
	width: 495px;
	min-height: 39px;
	background-color: #c75c5c;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wrap-num {
	float: left;
	width: 240px;
}
.num {
	display: inline-block;
	vertical-align: middle;
	padding-left: 5px;
	width: 54px;
	height: 29px;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 8px;
	line-height: 29px;
	color: #4f5d73;
	background: url(../images/num-bg.png) no-repeat 0 0;
}
.num-title {
	display: inline-block;
	color: #fff;
}

/*HOW-WORK-SERVICE-----------------------------------------------------------*/
.how-work-service {
	padding: 93px 0 60px 0;
	background-color: #fff;
}
ul.service-list {
	padding-top: 60px;
}
ul.service-list li {
	float: left;
	margin-left: 42px;
	width: 170px;
	position: relative;
	text-align: center;
	font-size: 18px;
	color: #111;
}
ul.service-list li:first-child {
	margin-left: 0;
}
ul.service-list li:after {
	content: '';
	display: block;
	width: 106px;
	height: 11px;
	position: absolute;
	top: 47px;
	left: 140px;
	background: url(../images/service/arrow.gif) no-repeat  0 0;
}
ul.service-list li:last-child:after {
	background: none;
}
ul.service-list li .service-img {
	height: 110px;
	text-align: center;
	margin-bottom: 15px;
}
/*OUE-ADVANTAGES-----------------------------------------------------------------------*/
.our-advantages {
	padding-top: 40px;
}
ul.advantages-list {
	padding: 30px 0 50px 35px;
}
ul.advantages-list li {
	margin-bottom: 20px;
	width: 49%;
	float: left;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.3;
	color: #111;
}

ul.advantages-list li.right-col {
	float: right;
	width: 49%;
}
ul.advantages-list img {
	float: left;
	margin-right: 15px;
}
ul.advantages-list span {
	display: block;
	padding-top: 20px;
}
/*PROBLEM-BLOCK--------------------------------------------------------------------------*/
.problem-block {
	padding: 53px 0 55px 0;
	background-color: #fff;
}
ul.problem-list {
	padding: 144px 0 0 63px;
	float: left;
	width: 49%;
	background: url(../images/pr-list-bg-min.png) no-repeat 63px 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ul.problem-list.plus-list {
	float: right;
	background: url(../images/pr-list-bg.png) no-repeat 63px 50px;
}
ul.problem-list li {
	margin-bottom: 25px;
	position: relative;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
	color: #111;
}
ul.problem-list li:before {
	content: '';
	display: block;
	width: 12px;
	height: 3px;
	position: absolute;
	top: 10px;
	left: -21px;
	background: url(../images/min.png) no-repeat 0 0;
}
ul.problem-list.plus-list li:before {
	content: '';
	display: block;
	width: 14px;
	height: 14px;
	position: absolute;
	top: 5px;
	left: -25px;
	background: url(../images/plus.png) no-repeat 0 0;
}
/*CONTACTS-BLOCK-----------------------------------------------------------------------*/
.contacts-block {
	padding: 40px 0 50px 0;
	background-color: #4f5d73;
}
.contacts-block h3 {
	font-size: 30px;
	font-weight: 700;
	line-height: 1.2;
	color: #fff;
}
.contacts-col {
	float: left;
	width: 465px;
	text-align: right;
}
.bottom-contacts {
	margin-top: 20px;
}
.bottom-contacts span {
	display: block;
	margin-bottom: 17px;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
	color: #fff;
}
.bottom-contacts span.cont-title {
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.3;
}
.bot-form-col {
	float: right;
	width: 455px;
}
.bottom-form {
	margin-top: 20px;
}
.bottom-form input {
	margin-bottom: 9px;
	width: 306px;
	border: 1px solid #e1e1e1;
}
.bottom-form button {
	min-width: 306px;
}
.bot-form-col .privacy {
	margin-top: 10px;
	color: #fff;
}
.bot-form-col .privacy a {
	color: #00c6ff;
}
/*MODALS------------------------------------------------------------------*/
.modals .overlay{
	display: none;
	width: 100%;
	height: 100%;
	z-index: 9999;
	position: fixed;
	background: #000000;
	opacity: 0.5;
	top: 0;
	left: 0;
}
.modal { 
	display: none;
	margin-left: -183px;
	padding: 35px 0 44px 35px;
	width: 366px;
	position: fixed;
	left: 50%;
	top: 125px;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 10000;
}
.modal .form-title {
	margin-top: 0;
}
.close-btn {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 22px;
	right: 23px;
	background: url(../images/close-btn.png) no-repeat 0 0;
}
.modal-form {
	margin-top: 28px;
}

.error{
	border-color: red !important;
}
