body {
	font: 100% 'PT Sans', Arial, Helvetica, sans-serif;
}	
.clr:after {
	content: '';
	display: table;
	clear: both;
}
.conteiner {
	margin: 0 auto;
	padding-top: 1px;
	width: 1000px;
}
h2 {
	text-align: center;
	font-size: 50px;
	color: #4a4a4a;
}	
/*HEADER-------------------------------------------------------*/
/*h-top-row------------------------------*/
.h-top-row {
	padding-bottom: 25px;
	background: #fff;
}
.logo {
	float: left;
	margin: 23px 0 0 8px;
}
.logo p{
	display: inline-block;
	padding-left: 29px;
	vertical-align: middle;
	font-size: 15px;
}
.logo p.lg{
	padding-right: 29px; border-right: 2px solid #e5eced;
}
address.top-contacts, .call-order, .send-request {
	float: right;
}
address.top-contacts {
	margin: 22px 0 0 10px;
}
address.top-contacts span {
	font-size: 30px; 
	color: #323232;
}
.call-order {
	margin-top: 22px;
	margin-right: 10px;
}
	
.header .order-call-btn {
	padding-left: 22px;
	color: #fff;
	background: url(../images/call-order-bg.png) no-repeat 0 7px #f19914;
}
.send-request {
	margin: 23px 160px 0 0;
}
.orange-btn.header-btn {
	padding: 14px 15px;
}
.orange-btn {
	display: block;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	font-size: 19px;
	padding: 8px 19px 6px;
	font-weight: bold;
	color: #fff;
	background: #f19914;
	border-bottom: 2px solid #a0410d;
}
.orange-btn:after {
	content: '';
	display: block;
	width: 100%;
	height: 0;
	position: absolute;
	top: 100%;
	left: 0;
	border-bottom: 1px solid rgba(0,0,0, .5);
}
.orange-btn:hover {
	background: #fdcf00;
    background: -moz-linear-gradient(top, #fdcf00 0%, #efac20 50%, #e88a00 90%, #e0780d 100%);
    background: -webkit-linear-gradient(top, #fdcf00 0%,#efac20 50%,#e88a00 90%,#e0780d 100%);
    background: -o-linear-gradient(top, #fdcf00 0%,#efac20 50%,#e88a00 90%,#e0780d 100%);
    background: linear-gradient(top, #fdcf00 0%,#efac20  50%,#e88a00 90%,#e0780d 100%);
}
.orange-btn:active {
	background: #ea9100;
}
.orange-btn:active:after {
	border:none;
}

/*h-down-row----------------------------*/
.h-down-row {
	padding-bottom: 70px;
	border-top: 1px solid #b8b9c0;
	background: url(../images/fscr-bg.jpg) repeat-x 0 0;
}
.headers{
	width: 660px;
	float: left;
}
h1, p.sub-title {
	text-align: left;
	font-weight: bold;
	color: #fff;
	background: rgba(0,0,0,0.5);
	padding: 4px 20px 4px 25px;
}
h1 {	
	margin-top: 16px;
	font-size: 50px;
	display: inline-block;
}
p.sub-title {
	margin-top: 2px;
	font-size: 17px;
	padding-right: 15px;
	display: inline-block;
}
.main-offer-block {
	margin-top: 38px;
	width: 999px;
	height: 391px;
	position: relative;
	background: url(../images/offer-block-bg.jpg) no-repeat 0 0;
	-webkit-box-shadow: 0 0 18px rgba(0,0,0, .5);
	-moz-box-shadow: 0 0 18px rgba(0,0,0, .5);
	box-shadow: 0 0 18px rgba(0,0,0, .5);
}
.h-form-block {
	float: right;
	padding: 5px;
	width: 320px;
	height: 100%;
	background: rgba(0,0,0, .5);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}
.h-form-block h3 {
	margin-top: 13px;
	padding-left: 25px;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
}
.h-form-block h3 span {
	display: block;
	margin-top: 10px;
	font-size: 20px;
	font-weight: normal;
}
.order-form {
	margin-top: 25px;
}
.h-form-block p{
	margin-bottom: 16px;
	padding-left: 25px;
}
p.margin-top {
	margin-top: 30px;
}
.order-form input[type="text"] {
	width: 230px;
	height: 41px;
	padding-left: 13px;
	font-size: 16px;
	color: #000;
	font-family: 'Trebuchet MS';
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #f6f6f6;
	background: -webkit-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
    background: -moz-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
	background: -ms-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
    background: -o-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
    background: linear-gradient(#f6f6f6 0%, #d0d0d0 100%);
}
.orange-btn.form-btn {
	display: inline;
	width: 230px;
	height: 41px;
}
input[type='text'].error,
textarea.error { border: solid 1px #F00 !important; }
	
input::-webkit-input-placeholder {
	font-size: 16px;
	color: #202224;
}
input::-moz-placeholder {
	font-size: 16px;
	color: #202224;
}
.action-block {
	padding: 6px;
	width: 679px;
	height: 97px;
	position: absolute;
	left: 0;
	bottom: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #f19914;
}
.hgroup  {
	float: left;
	color: #fff;
	margin-top: 10px;
	margin-right: 20px;
}
.timer-digits {
	float: right;
}	
.action-block > p {
	float: left;
	padding-top: 5px;
	width: 105px;
}
.action-block > p strong {
	font-size: 25px;
	line-height: 0.8;
	color: #fff;
}	
.hgroup h3  {
	margin-top: 3px;
	padding-left: 25px;
	font-size: 25px;
	color: #FFF;
	font-family: 'Trebuchet MS';
}
.hgroup p {
	padding-left: 25px;
	font-size: 18px;
	font-family: 'Trebuchet MS';
	color: #323232;
}
.timer strong {
	display: block;
	padding-top: 4px;
	font-size: 20px;
	color: #474747;
}
.timer-digits {
	margin-left: 19px;
	padding-top: 18px;
	width: 250px;
}
.timer-digits > div {
	float: left;
	margin: 0 0 0 22px;
}
.timer-digits > div:first-child {
	margin-left: 0;
}
.timer-digits i {
	display: block;
	padding-left: 5px;
	width: 52px;
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	letter-spacing: 15px;
	font-style: normal;	
	color: #323232;
	background: url(../images/timer-bg.png) no-repeat 0 0;
	
}
.timer-digits span {
	margin-top: 0px;
	display: block;
	text-align: center;
	font-size: 16px;
	color: #000;
}
/*our-advantages-------------------------------------*/
.our-advantages {
	padding-top: 45px;
	padding-bottom: 45px;
}
.adv-block {
	display: table;
	float: left;
	margin-left: 70px;
	width: 305px;
}
.adv-block:first-child {
	margin-left: 0;
}
.adv-block:last-child {
	width: 248px;
}
.adv-block p {
	display: table-cell;
}
p.adv-number, p.adv-text {
	font-weight: bold;
	color: #00444b;
}
p.adv-number {
	width: 128px;
	height: 128px;
	text-align: center;
	vertical-align: middle;
	font-size: 50px;
	background-color: #f19914;
	border-radius: 50%;
}
p.adv-text {
	padding-left: 20px;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 25px;
}
/*WHY-WE-BLOCK-----------------------------------------------------------------*/
.why-we-block {
	font-family: 'Trebuchet MS';
	border-bottom: 1px solid #bbb;
	background: url(../images/why-we-bg.gif) 0 0;
}
.why-we-block h2 {
	margin-top: 40px;
	text-shadow: 1px 1px 0 rgba(255,255,255, .5);
}
ul.why-we-list {
	padding: 45px 0 50px 0;
}
ul.why-we-list li {
	float: left;
	width: 170px;
	margin-left: 106px;
	font-size: 17px;
	color: #343434;
}
ul.why-we-list li  img{
	margin-bottom: 15px;
}
ul.why-we-list li:first-child {
	margin-left: 0;
}
/*B-FORM-MIDDLE---------------------------------------------------------*/
.b-form-middle {
	background: #154c54;
	font-family: 'Trebuchet MS';
}
.b-form-middle h2 {
	margin-top: 34px;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: bold;
	color: #fff;
}
#ib-block8{
	text-align: center;
}
.b-form-middle p.sub-title {
	margin-top: 18px;
	font-size: 20px;
	background: none;
}
.b-form-middle p.sub-title span{
	color: #feb700;
}
.order-form.middle {
	padding: 16px 0 58px 0;
}
.order-form.middle p {
	float: left;
	margin-left: 18px;
	width: 230px;
}
.order-form.middle input {
	width: 230px;
	height: 41px;
	background: #f4f4f4;
}
.order-form.middle input::-webkit-input-placeholder {
	font-size: 15px;
	color: #272727;
}
.order-form.middle input::-moz-placeholder {
	font-size: 15px;
	color: #272727;
}
.orange-btn.form-btn {
	width: 230px;
	height: 41px;
}
/*****/
.reviews-block{
	padding: 55px 0 45px;
}
.rewivs-block h3{
	color: #303030;
	font-weight: bold;
}
.howlist{
	text-align: justify;
	margin: 0 -20px;
}
.howlist ul{
	margin-top: 45px;
}
.howlist ul li{
	display: inline-block;
	text-align: left;
	max-width: 130px;
	padding: 0 10px;
	vertical-align: top;
	font-size: 13px;
	line-height: 21px;
}
.howlist ul li img{
	margin-top: -25px;
}
/*CONTACTS-BLOCK------------------------------------------------------*/
.contacts-block {
	padding-bottom: 60px;
	background: url(../images/why-we-bg.gif) 0 0;
}
.contacts-block h2 {
	margin: 50px 0;
	color: #101010;
	font-weight: bold;
}
#map {
	float: left;
	width: 509px;
	height: 307px;
	border: 6px solid rgba(0,0,0, .4);
}
.c-right-col {
	float: left;
	width: 280px;
	margin-left: 50px;
}
address.bottom-contacts p {
	margin-bottom: 15px;
	padding-bottom: 15px;
	position: relative;
}
address.bottom-contacts p:after {
	content: '';
	display: block;
	width: 100%;
	height: 0;
	position: absolute;
	top: 100%;
	left: 0;
	border-top: 1px solid #333;
	border-bottom: 1px solid #6e6e6e;
}
.c-right-col span {
	display: block;
	font-size: 16px;
	color: #111111;
	font-family: 'Trebuchet MS';
}
span.b-c-title {
	font-size: 23px;
}
span.phone-textx{
	display: inline-block; margin-right: 10px;
}
address.bottom-contacts span.phone-text{
	display: inline-block;
	font-size: 24px;
	color: #555555;
}
address.bottom-contacts span.orange-text {
	color: #007fc6;
}
address.bottom-contacts span a {
	text-decoration: underline;
	color: #007fc6;
}
.orange-btn.bottom-btn {
	margin: 15px 0 0 5px;
	display: inline-block;
	padding: 8px 70px;
}
/*FOOTER-----------------------------------------------------*/
.footer {
	clear: both;
	height: 140px;

	background: url(../images/why-we-bg.gif) 0 0;
}
.footer > .conteiner {border-top: 1px solid #555;}
.copyright {
	float: left;
	margin-top: 55px;
	font-size: 16px;
	color: #555555;
}	
.developer {
	float: right;
	margin-top: 40px;
	font-size: 14px;
	color: #555555;
}
.developer a {
	display: inline-block;
	padding: 17px 33px 0 0;
	text-decoration: underline;
	color: #555555;
	background: url(../images/ibrush-logo.png) no-repeat 100% 100%;
}

.overlay {
	display: none; 
	width: 100%; 
	height: 100%; 
	position: fixed; 
	top: 0;
	left: 0;
	z-index: 9999;
	background: #000;
	opacity: 0.2;
}
.modal { display: none; position: fixed; left: 50%; top: 50%; z-index: 10000; background: #3f4142; color: #FFF; width: 215px; margin-left: -107px; margin-top: -100px; padding: 23px; border: solid 3px #efa100; }
.modal .close-btn { width: 28px; height: 24px; position: absolute; right: -3px; top: -3px; text-decoration: none; color: #efa100; border: solid 3px #efa100; text-align: center; line-height: 24px; font-weight: bold; font-size: 18px; }
.modal h4 { text-align: center; font-size: 20px; font-weight: bold; }
.modal input[type='text'] { background: #2c3033; color: #FFF; margin-bottom: 20px; width: 215px; border: solid 1px; border-color: #1e2123 #414447 #414447 #1e2123; }
.modal .send-btn { height: 38px; line-height: 40px; }