body {
	font: 100% 'Trebuchet MS', Arial, Helvetica, sans-serif;
}	
.clr:after {
	content: '';
	display: table;
	clear: both;
}
.conteiner {
	margin: 0 auto;
	padding-top: 1px;
	width: 1000px;
}
h2 {
	text-align: center;
	font-size: 50px;
	color: #4a4a4a;
}	
/*HEADER-------------------------------------------------------*/
/*h-top-row------------------------------*/
.h-top-row {
	padding-bottom: 16px;
	border: 1px solid #242525;
	border-left: none;
	border-right: none;
	background: #020012;
}
.logo {
	float: left;
	margin: 23px 0 0 8px;
	width: 160px;
}
address.top-contacts, .call-order, .send-request {
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0,0,0, .5);
}
address.top-contacts {
	margin: 37px 0 0 10px;
}
address.top-contacts span {
	font-size: 18px; 
	font-weight: bold;
	text-shadow: 1px 1px 0 rgba(0,0,0, .5);
}
.call-order {
	margin-top: 38px;
}
	
.header .order-call-btn {
	padding-left: 22px;
	text-decoration: underline;
	font-size: 17px;
	color: #fff;
	background: url(../images/call-order-bg.png) no-repeat 0 5px;
	text-shadow: 1px 1px 0 rgba(0,0,0, .5);
}
.send-request {
	margin: 28px 160px 0 0;
}
.orange-btn.header-btn {
	padding: 14px 15px;
}
.orange-btn {
	display: block;
	border-radius: 10px/22px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	color: #000;
	text-shadow: 1px -1px 0 rgba(255, 255, 255, 0.5);
	background: #f9f4f9;
background: -moz-linear-gradient(top,  #f9f4f9 0%, #babcd1 99%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f4f9), color-stop(99%,#babcd1));
background: -webkit-linear-gradient(top,  #f9f4f9 0%,#babcd1 99%);
background: -o-linear-gradient(top,  #f9f4f9 0%,#babcd1 99%);
background: -ms-linear-gradient(top,  #f9f4f9 0%,#babcd1 99%);
background: linear-gradient(to bottom,  #f9f4f9 0%,#babcd1 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f4f9', endColorstr='#babcd1',GradientType=0 );

}
.orange-btn:after {
	content: '';
	display: block;
	width: 100%;
	height: 0;
	position: absolute;
	top: 100%;
	left: 0;
}
.orange-btn:hover {
background: #a88fad;
background: -moz-linear-gradient(top,  #a88fad 0%, #656caa 99%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a88fad), color-stop(99%,#656caa));
background: -webkit-linear-gradient(top,  #a88fad 0%,#656caa 99%);
background: -o-linear-gradient(top,  #a88fad 0%,#656caa 99%);
background: -ms-linear-gradient(top,  #a88fad 0%,#656caa 99%);
background: linear-gradient(to bottom,  #a88fad 0%,#656caa 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a88fad', endColorstr='#656caa',GradientType=0 );


}
.orange-btn:active {
	background: #9561E8;
}
.orange-btn:active:after {
	border:none;
}

/*h-down-row----------------------------*/
.h-down-row {
	padding-bottom: 70px;
	border-top: 1px solid #b8b9c0;
	background: url(../images/main-bg.jpg) no-repeat 0% 0%;
	background-size: cover;
}
h1, p.sub-title {
	text-align: center;
	font-weight: bold;
	color: #fff;
}
h1 {	
	margin-top: 16px;
	font-size: 50px;
}
p.sub-title {
	margin-top: 5px;
	font-size: 25px;
}
.main-offer-block {
	margin-top: 38px;
	width: 1000px;
	height: 341px;
	position: relative;
}
.h-form-block {
	float: right;
	padding: 5px;
	width: 320px;
	height: 100%;
	background: rgba(0,0,0, .5);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 10px / 22px;
}
.h-form-block h3 {
	margin-top: 13px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #fff;
}
.h-form-block h3 span {
	display: block;
	margin-top: 10px;
	font-size: 20px;
	font-weight: normal;
}
.order-form {
	margin-top: 35px;
}
.order-form p{
	margin-bottom: 16px;
	text-align: center;
}
p.margin-top {
	margin-top: 30px;
}
.order-form input {
	width: 230px;
	height: 41px;
	font-size: 16px;
	color: #000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*background: #f6f6f6;
	background: -webkit-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
    background: -moz-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
	background: -ms-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
    background: -o-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
    background: linear-gradient(#f6f6f6 0%, #d0d0d0 100%);*/
}
.order-form input[type="text"]{
	padding-left: 13px;
	border-radius: 10px / 22px;
	background: #f6f6f6;
	background: -webkit-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
    background: -moz-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
	background: -ms-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
    background: -o-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
    background: linear-gradient(#f6f6f6 0%, #d0d0d0 100%);
}
.orange-btn.form-btn {
	display: inline;
	width: 230px;
	height: 41px;
}
input[type='text'].error,
textarea.error { border: solid 1px #F00 !important; }
	
input::-webkit-input-placeholder {
	font-size: 16px;
	color: #202224;
}
input::-moz-placeholder {
	font-size: 16px;
	color: #202224;
}
.action-block {
	border-radius: 10px / 22px;
	padding: 6px 25px 6px 6px;
	width: 660px;
	height: 97px;
	position: absolute;
	left: 9px;
	bottom: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: rgba(0,0,0,0.5);
}
.action-block img{ margin-top: 12px;}
.hgroup  {
	float: left;
	width: 260px;
	color: #fff;
	padding-top: 33px;
}
.timer-digits {
	float: left;
}	
.action-block > p {
	float: left;
	padding-top: 5px;
	width: 105px;
}
.action-block > p strong {
	font-size: 25px;
	line-height: 0.8;
	color: #fff;
}	
.hgroup h3, .hgroup p {
	text-align: center;
	font-weight: bold;
	text-shadow: 1px 2px 0 rgba(0,0,0, .4);
}	
.hgroup h3  {
	margin-top: 3px;
	text-transform: uppercase;
	font-size: 40px;
	color: #f3af00;
}
.hgroup p strong {
	font-size: 25px;
	line-height: 0;
	color: #fff;
}
.timer strong {
	display: block;
	padding-top: 4px;
	font-size: 20px;
	color: #474747;
}
.timer-digits {
	margin-left: 19px;
	padding-top: 16px;
	width: 250px;
}
.timer-digits > div {
	float: left;
	margin: 0 0 0 22px;
}
.timer-digits > div:first-child {
	margin-left: 0;
}
.timer-digits i {
	display: block;
	padding-left: 8px;
	width: 53px;
	height: 46px;
	font-size: 30px;
	line-height: 46px;
	letter-spacing: 6px;
	text-align: center;
	border-radius: 10px / 22px;
	font-style: normal;	
	color: #343434;
	background: #f6f6f6;
	background: -webkit-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
    background: -moz-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
	background: -ms-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
    background: -o-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
    background: linear-gradient(#f6f6f6 0%, #d0d0d0 100%);
	text-shadow: 2px 1px 0 rgba(255,255,255, .4);
}
.timer-digits span {
	margin-top: 0px;
	display: block;
	text-align: center;
	font-size: 16px;
	color: #fff;
}
/*our-advantages-------------------------------------*/
.our-advantages {
	padding-top: 40px;
	padding-bottom: 50px;
}
.adv-block {
	display: table;
	float: left;
	margin-left: 70px;
	width: 305px;
}
.adv-block:first-child {
	margin-left: 0;
}
.adv-block:last-child {
	width: 248px;
}
.adv-block p {
	display: table-cell;
}
p.adv-number, p.adv-text {
	font-weight: bold;
	color: #4a4a4a;
}
p.adv-number {
	width: 121px;
	height: 128px;
	text-align: center;
	vertical-align: middle;
	font-size: 50px;
	border-left: 7px double #ccc;
	border-bottom: 7px double #ccc;
	background-color: #fff;
}
p.adv-text {
	padding-left: 20px;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 25px;
}
/*WHY-WE-BLOCK-----------------------------------------------------------------*/
.overback{
	background: url(../images/bg-2.jpg) 0 0;
	background-position: fixed;
	background-size: cover;
}
.why-we-block {

}
.why-we-block h2 {
	margin-top: 40px;
	color: #ffffff;
	text-shadow: 1px 1px 0 rgba(255,255,255, .5);
}
ul.why-we-list {
	padding: 45px 0 50px 0;
}
ul.why-we-list li {
	float: left;
	width: 170px;
	margin-left: 106px;
	font-size: 17px;
	color: #ffffff;
}
ul.why-we-list li  img{
	margin-bottom: 15px;
}
ul.why-we-list li:first-child {
	margin-left: 0;
}
/*B-FORM-MIDDLE---------------------------------------------------------*/
.b-form-middle {

}
.b-form-middle h2 {
	margin-top: 57px;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: bold;
	color: #fff;
}
.b-form-middle p.sub-title {
	margin-top: 18px;
	font-size: 20px;
}
.b-form-middle h2, .b-form-middle p.sub-title {
	text-shadow: 1px 1px 0 rgba(0,0,0, .2);
}
.b-form-middle p.sub-title span{
	color: #742DE5;
}
.order-form.middle {
	padding: 16px 0 58px 0;
}
.order-form.middle p {
	float: left;
	margin-left: 18px;
	width: 230px;
}
.order-form.middle input {
	width: 230px;
	height: 41px;
	background: #f6f6f6;
	background: -webkit-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
    background: -moz-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
	background: -ms-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
    background: -o-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
    background: linear-gradient(#f6f6f6 0%, #d0d0d0 100%);
}
.order-form.middle input::-webkit-input-placeholder {
	font-size: 15px;
	color: #272727;
}
.order-form.middle input::-moz-placeholder {
	font-size: 15px;
	color: #272727;
}
.orange-btn.form-btn {
	width: 230px;
	height: 41px;
}
/*REVIEWS-BLOCK---------------------------------------------------------------*/
.reviews-block {
	padding-bottom: 65px;
	background: #FBFCF7;
}
.reviews-block h2 {
	margin-top: 30px;
}
.rev-wrap {
	margin: 55px auto 0;
	width: 910px;
}
.rev {
	padding: 20px 25px;
	width: 428px;
	background: #f6f6f6;
	background: -webkit-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
    background: -moz-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
	background: -ms-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
    background: -o-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
    background: linear-gradient(#f6f6f6 0%, #d0d0d0 100%);
	border-radius: 10px / 22px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.left-fl {
	float: left;
}
.right-fl {
	float: right;
}
.img-caption img {
	float: left;
	-webkit-border-radius: 78px;
	-moz-border-radius: 78px;
	border-radius: 78px;
}
.img-caption h3, .img-caption p.sub-title, p.b-data{
	margin-left: 170px;
	color: #4a4a4a;
}
.img-caption h3 {
	padding-top: 33px;
	font-size: 22px;
	font-weight: bold;
	color: #4a4a4a;
}
.img-caption p.sub-title {
	margin-top: 10px;
	font-weight: bold;
	text-align: left;
	font-size: 16px;
	line-height: 1.2;
}
p.b-data {
	font-size: 15px;
	font-style: italic;
}
.r-text {
	clear: both;
	margin-top: 18px;
	font-size: 15px;
	color: #4a4a4a;
}
p.more-rev {
	margin-top: 30px;
	text-align: center;
}
a.more-rev-link {
	font-size: 22px;
	font-weight: bold;
	color: #efa200;
	border-bottom: 2px dashed #efa200;
}
/*CONTACTS-BLOCK------------------------------------------------------*/
.contacts-block {
	padding-bottom: 60px;
	background: url(../images/main-bg.jpg) no-repeat 0% 0%;
	background-size: cover;
}
.contacts-block h2 {
	margin: 50px 0;
	color: #eee;
}
#map {
	float: left;
	width: 509px;
	height: 307px;
	border: 6px solid rgba(0,0,0, 0.5);
	border-radius: 10px / 22px;
	background-color: none !important;
}
.c-right-col {
	float: left;
	width: 245px;
	margin-left: 50px;
	padding: 25px;
	border-radius: 10px / 22px;
	background: rgba(0,0,0,0.5);
}
address.bottom-contacts p {
	margin-bottom: 15px;
	position: relative;
}
address.bottom-contacts p:after {
	content: '';
	display: block;
	width: 100%;
	height: 0;
	position: absolute;
	top: 100%;
	left: 0;
}
.c-right-col span {
	display: block;
	font-size: 16px;
	color: #fff;
}
span.b-c-title {
	font-size: 23px;
}
address.bottom-contacts span.orange-text {
	color: #9561E8;
}
address.bottom-contacts span a {
	text-decoration: underline;
	color: #9561E8;
}
.orange-btn.bottom-btn {
	margin: 15px 0 0 5px;
	display: inline-block;
	padding: 8px 70px;
}
/*FOOTER-----------------------------------------------------*/
.footer {
	clear: both;
	height: 100px;
	background: #020012;
}
.copyright {
	float: left;
	margin-top: 39px;
	font-size: 16px;
	color: #fff;
}	
.developer {
	float: right;
	margin-top: 23px;
	font-size: 14px;
	color: #fff;
}
.developer a {
	display: inline-block;
	padding: 17px 33px 0 0;
	text-decoration: underline;
	color: #fff;
	background: url(../images/ibrush-logo.png) no-repeat 100% 100%;
}

.overlay {
	display: none; 
	width: 100%; 
	height: 100%; 
	position: fixed; 
	top: 0;
	left: 0;
	z-index: 9999;
	background: #000;
	opacity: 0.2;
}
.modal { display: none; position: fixed; left: 50%; top: 50%; z-index: 10000; background: rgba(0,0,0,0.8); border-radius: 10px / 22px;
color: #FFF; width: 193px; margin-left: -97px; margin-top: -100px; padding: 23px;}
.modal .close-btn { width: 28px; height: 24px; position: absolute; right: 0; top: 2px; text-decoration: none; color: #9561E8;text-align: center; line-height: 24px; font-weight: bold; font-size: 18px; }
.modal h4 { text-align: center; font-size: 20px; font-weight: bold; }
.modal input[type='text'] { background: #f6f6f6;
	background: -webkit-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
    background: -moz-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
	background: -ms-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
    background: -o-linear-gradient(top, #f6f6f6 0%, #d0d0d0 100%);
    background: linear-gradient(#f6f6f6 0%, #d0d0d0 100%);
 margin-bottom: 20px; width: 193px; color: #000000;}
.modal .send-btn { height: 38px; line-height: 40px; }

.main-action{
	width: 660px;
	position: absolute;
	bottom: 155px;
	left: 34px;
}
.main-action h3{
	font-size: 30px; color: #ffffff; margin-bottom: 20px; text-shadow: 0 0 1px #000000;
}
.main-action p{
	font-size: 20px; line-height: 24px; color: #ffffff; text-shadow: 0 0 1px #000000;
}