.edit_f{
color: rgb(200, 200, 200);
margin-top: 15px;
background-image: none;
 background-color: rgb(255, 255, 255);
 border: 1px solid rgb(200, 200, 200);
 border-top-left-radius: 0px;
 border-top-right-radius: 0px;
 border-bottom-right-radius: 0px;
 border-bottom-left-radius: 0px; height: 25px;
 padding: 5px 10px;
 width: 220px;
 }
ul {
    list-style: none;
    padding: 0;
}

/* ����� � ������ ������� ����� */
.edit_f_te{color: #775236;}
/* ������ ����� ���. ������ */
.edit_f_error{
    background: url("./../images/input_gradient.png") !important;
}

.sendbtn { cursor: hand; cursor: pointer;	margin-top: 15px;}

